/node_modules
/public/build
/public/hot
/public/storage
/public/assets
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
composer.lock
package-lock.json
### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
# Livewire and Laravel Mix
/public/mix-manifest.json
/public/vendor/livewire/livewire.esm.js
/public/vendor/livewire/livewire.js
/public/vendor/livewire/livewire.min.js
/public/vendor/livewire/livewire.min.js.map
/public/vendor/livewire/manifest.json
