.label-container {
    width: 250px;
    height: 150px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    position: relative;
}

.label-code {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.label-price {
    font-size: 16px;
    text-align: left;
}

.label-name, .label-descr {
    font-size: 12px;
    text-align: left;
    margin-top: 5px;
}

@media print {
    /* Menyembunyikan elemen yang tidak diperlukan saat mencetak */
    body * {
        visibility: hidden;
    }
    #print, #print * {
        visibility: visible;
    }
    #print {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    .card {
        border: none;
        box-shadow: none;
    }
    .container {
        padding: 0;
    }
    .btn, .d-flex {
        display: none;
    }
}
