/* Base Styles */
.error-message {
    color: #dc3545;
    font-size: 0.75rem;
    margin-top: 0.1rem;
    display: block;
}

.disabled-gray {
    color: #808080;
    background-color: #f0f0f0;
    border-color: #d3d3d3;
}

/* Table Styles */
.data-table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #ccc;
}

.data-table thead {
    background-color: #e0e0e0;
}

.data-table th,
.data-table td {
    padding: 2px 4px !important;
    border: 1px solid #ccc;
}

.data-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

.data-table-header th {
    text-align: center;
}

.data-table-header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-table tbody {
    background-color: #ffffff;
}

/* Text Alignment */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Field Layout */
.responsive-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.responsive-label {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.responsive-input,
.responsive-textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.form-control,
.form-select {
    font-size: 0.9rem;
}

.text-field-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

/* Photo Upload Styles */
.photo-upload-container {
    position: relative;
    text-align: left;
}

.photo-upload-box {
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f3f3;
    margin-left: 0;
}

.image-upload-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
}

.image-preview {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-preview img {
    width: 100%;
    height: 100%;
}

.fullscreen-btn {
    background-color: white;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 200px;
}

.loading-overlay {
    display: none; /* Hidden by default */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 5;
    width: 100%;
    height: 100%;
}

/* Show the loading overlay only when the photo is being uploaded */
div[wire\:loading].loading-overlay {
    display: flex;
}

/* Responsive Styles */
@media (max-width: 767px) {
    .responsive-input-container {
        display: flex;
        flex-direction: column;
    }

    .responsive-input {
        flex: 1;
    }

    .btn-sm {
        flex: none;
        margin-left: 5px;
    }

    .half-width {
        width: 100%;
    }

    .custom-modal .modal-dialog {
        width: 100%; /* Full width on smaller screens */
    }
}

@media (min-width: 768px) {
    .responsive-field {
        flex-direction: row;
        align-items: center;
    }

    .responsive-label {
        margin-right: 0.5rem;
        flex: 0 0 100px;
        text-align: right;
    }

    .responsive-input-container {
        flex-direction: column;
        width: 100%;
    }

    .responsive-input,
    .responsive-textarea {
        flex: 1;
    }

    .btn-sm {
        margin-left: 5px;
    }

    .responsive-field[span="Half"] {
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding-right: 1%;
    }

    .responsive-field[span="Half"]:nth-of-type(2n)::after {
        content: "";
        display: table;
        clear: both;
    }

    .responsive-field[span="Full"] {
        width: 100%;
        clear: both;
        float: none;
        box-sizing: border-box;
    }

    .responsive-field[span="Full"] + .responsive-field {
        clear: both;
    }

    .custom-modal .modal-dialog {
        max-width: none;
        width: 1000px !important;
        height: 300px !important;
    }
}

/* Material Info Container Styles */
.material-info-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.photo-container {
    flex-basis: 200px;
    flex-grow: 1;
    margin-right: 20px;
}

.fields-container {
    flex-grow: 10;
}

@media (max-width: 768px) {
    .material-info-container {
        flex-direction: column;
    }

    .photo-container {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
.list-group-item {
    position: relative;
    padding: 16px; /* Adjust as needed, but make sure this is less than the height of the .delete-button */
    /* ... other styles ... */
}

.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0; /* No padding for the button */
}

.delete-button a {
    display: block;
    padding: 8px; /* Padding to make the target area larger for clicking, adjust as needed */
    margin: -8px; /* Negative margin to counteract the padding in the .list-group-item */
}

.delete-button img {
    display: block; /* Ensures the image does not have extra space around it */
    width: 16px; /* Adjust as needed */
    height: 16px; /* Adjust as needed */
}
    .custom-loader-container {
        display: none; /* initially hidden */
        position: fixed; /* Overlay the entire screen */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
        z-index: 9999; /* Ensure it's above other elements */
        align-items: center; /* Center the loader vertically */
        justify-content: center; /* Center the loader horizontally */
        text-align: center;
    }

    .custom-page-loader .spinner-border {
        width: 3rem;
        height: 3rem;
        /* Add any additional styling for the spinner here */
    }
