
/*Loader css*/
.custom-loader-container {
    display: none; /* initially hidden */
    position: fixed; /* Overlay the entire screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
    z-index: 9999; /* Ensure it's above other elements */
    align-items: center; /* Center the loader vertically */
    justify-content: center; /* Center the loader horizontally */
    text-align: center;
}

.custom-page-loader .spinner-border {
    width: 3rem;
    height: 3rem;
    /* Add any additional styling for the spinner here */
}


/*Error Message css*/
.error-message {
    color: #dc3545;
    font-size: 0.75rem;
    margin-top: 0.1rem;
    display: block;
}

.disabled-gray {
    color: #808080;
    background-color: #f0f0f0;
    border-color: #d3d3d3;
}

/* DataTable Styles */
.data-table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #ccc;
}

.data-table thead {
    background-color: #e0e0e0;
}

.data-table th,
.data-table td {
    padding: 2px 4px !important;
    border: 1px solid #ccc;
}

.data-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

.data-table-header th {
    text-align: center;
}

.data-table-header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-table tbody {
    background-color: #ffffff;
}

/* Text Alignment */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* UITextField Layout */
.responsive-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.responsive-label {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.responsive-input,
.responsive-textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.form-control,
.form-select {
    font-size: 0.9rem;
}

.text-field-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

/* Photo Upload Styles */
.photo-upload-container {
    position: relative;
    text-align: left;
}

.photo-upload-box {
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f3f3;
    margin-left: 0;
}

.image-upload-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
}

.image-preview {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-preview img {
    width: 100%;
    height: 100%;
}

.fullscreen-btn {
    background-color: white;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 200px;
}

.loading-overlay {
    display: none; /* Hidden by default */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 5;
    width: 100%;
    height: 100%;
}

div[wire\:loading].loading-overlay {
    display: flex;
}

@media (max-width: 767px) {
    .responsive-input-container {
        display: flex;
        flex-direction: column;
    }

    .responsive-input {
        flex: 1;
    }

    .btn-sm {
        flex: none;
        margin-left: 5px;
    }

    .half-width {
        width: 100%;
    }

    .custom-modal .modal-dialog {
        width: 100%; /* Full width on smaller screens */
    }
}

@media (min-width: 768px) {
    .responsive-field {
        flex-direction: row;
        align-items: center;
    }

    .responsive-label {
        margin-right: 0.5rem;
        flex: 0 0 100px;
        text-align: right;
    }

    .responsive-input-container {
        flex-direction: column;
        width: 100%;
    }

    .responsive-input,
    .responsive-textarea {
        flex: 1;
    }

    .btn-sm {
        margin-left: 5px;
    }

    .responsive-field[span="Half"] {
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding-right: 1%;
    }

    .responsive-field[span="Half"]:nth-of-type(2n)::after {
        content: "";
        display: table;
        clear: both;
    }

    .responsive-field[span="Full"] {
        width: 100%;
        clear: both;
        float: none;
        box-sizing: border-box;
    }

    .responsive-field[span="Full"] + .responsive-field {
        clear: both;
    }

    .custom-modal .modal-dialog {
        max-width: none;
        width: 1000px !important;
        height: 300px !important;
    }
}

/*UISeparator css*/
.col {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

/* Styles for the separator */
.styled-separator {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

/* Horizontal separator */
.styled-separator.horizontal {
    height: 1px; /* Adjust the height for the thickness of the separator */
    background-color: #d9d9d9; /* Separator color */
}

/* Vertical separator */
.styled-separator.vertical {
    width: 1px; /* Adjust the width for the thickness of the separator */
    height: 100%; /* Full height of the container */
    background-color: #d9d9d9; /* Separator color */
}

/* Title (caption) */
.styled-separator h5 {
    margin: 0;
    font-size: 1rem; /* Adjust font size as needed */
    color: #333; /* Font color */
    white-space: nowrap; /* Ensures the text doesn't wrap */
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Orientation styles */
.styled-separator.left h5 {
    margin-right: auto;
}

.styled-separator.right h5 {
    margin-left: auto;
}

.styled-separator.center h5 {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.close-button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}










/* Material Info Container Styles */
.material-info-container {
    width: 100%;
}

.multiple-photo-container {
    float: left; /* Float the photo container to the left */
    overflow-x: auto;
    white-space: nowrap;
    margin-right: 20px;
    max-width: 75%;
    margin-bottom: 20px;
}

.button-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.button-container button {
    padding-top: 200px;
}


.photo-box {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
    display: inline-block;
}

.photo-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media (max-width: 768px) {
    .multiple-photo-container,
    .button-container {
        float: none; /* Remove float on small screens */
        width: 100%; /* Full width on small screens */
    }

    .photo-box {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

    /* Adjustments for the main content to match the uploaded design */
    .main-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
        grid-gap: 20px;
        padding: 20px;
    }

    .list-group-item {
        display: flex;
        flex-direction: column; /* Stack children vertically */
        align-items: center;
        background-color: #f7f7f7;
        border: none;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        transition: transform 0.2s; /* Optional: Adds a nice hover effect */
    }

    .list-group-item:hover {
        transform: translateY(-5px); /* Optional: Adds a nice hover effect */
    }

    .image-container {
        width: 100%; /* Take full width */
        /* Adjust height as needed, or remove height to let content dictate size */
    }

    .image-container img {
        width: 100%; /* Full width of the container */
        object-fit: cover; /* Cover the area without stretching */
    }

    .material-info {
        text-align: center;
        padding: 10px;
        background: #eee;
        width: 100%; /* Full width of the container */
        margin-top: auto; /* Push to the bottom */
    }
    /* Adjusting styles for the filter sidebar */
    .filter-sidebar {
        background-color: #f7f7f7;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .filter-item {
        background-color: #fff;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    }

    .filter-item input[type="text"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box; /* Ensures padding doesn't affect overall width */
    }

    .filter-item label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
